.addTicketForm{
    width: 50vw;
    padding: 1em;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid #d8d4dc;
    border-radius: 10px;
}
.inputGroup{
    width: 50vw;
}


.submitBtn{
    margin-left: auto;
    width: 100%;
    height: 4vh;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background: #173fd0;
    border-radius: 2px;
    color: #fff;
}